* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
}

.content {
    width: 100%;
    height: 100%; 
   background-image: url("../images/IMG_20230717_231408_295.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
}

.box {
    width: 55%;
    height: 60%;
    background-color: rgb(47, 150, 57);
    margin-top: 15%;
    box-shadow: 3px 3px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2%;
}

input {
    margin: 10px;
    width: 45%;
    height: 10%;
}

select {
    margin: 10px;
    width:45% ;
    height: 10%;
}

button {
    width: 10%;
    height: 10%;
    background-color: rgb(88, 113, 238);
    color: beige;
}